<% provide(:title, "About") %>
<h1>About</h1>
<div id="photoContainer" class="center jumbotron">
	<img alt="Me" src="https://scontent.xx.fbcdn.net/v/t1.0-9/12799383_1213143992043464_8082739245361418802_n.jpg?oh=37ed59bccb59af10957ae2d045dfa1b5&oe=57864D41" />
	<p>
		After graduating high school I went to college right away earning an Associates Degree in Visual Communication. After getting that I wanted to increase my knowledge and started classes again earning a Bachelors Degree in Web Development. I am now part of Startup Institute looking to improve and learn new skills earning a career. I will never stop learning and stop improving my skills.
	</p>
</div>