<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div id="photoContainer" class="center jumbotron">
	<img alt="Me" src="https://scontent.xx.fbcdn.net/v/t1.0-9/12799383_1213143992043464_8082739245361418802_n.jpg?oh=37ed59bccb59af10957ae2d045dfa1b5&oe=57864D41" />
	<p>
	  Contact me using my Gmail <a href="mailto:walterrbermudez@gmail.com" target="_top">WalterRBermudez@gmail.com</a>
	</p>
</div>